        <!-- /. PAGE INNER  -->
    </div>
</div>
<!-- /. WRAPPER  -->
<!-- JS Scripts-->
<!-- jQuery Js -->
<!--<script src="/js/admin/jquery-1.10.2.js"></script>-->


<!-- Custom Js -->
<!--<script src="/js/admin/custom-scripts.js"></script>-->

</body>

</html>