{extend name="common/base"}
{block name="content"}
<link href="/static/admin/css/adminSet.css" rel="stylesheet" />
<div class="zheZhao" style="display: none;">
    <div class="tip">
        <div class="tipName">提示</div>
        <div class="tipMsg">
            <img class="tipImg" src="/static/admin/images/success.png" alt="">
            <div class="tipTip">验证通过</div>
        </div>
    </div>
</div>
<div class="st_container">
    <div class="st_title">添加角色</div>
    <div class="st_body">
        <div class="st_tips">
            <p>该页面展示网站所有功能权限。</p>
            <p>打钩即是分配权限，请谨慎操作。</p>
            <p>标识“*”的选项为必填项，其余为选填项。</p>
        </div>
    </div>
    <div style="margin-top: 40px;">
        <input type="hidden" name="token" id="token" value="{$token}">
        <input type="hidden" name="roleId" id="roleId" value="{$data.r_id}">
        <input type="hidden" name="grant" id="grant" value="{$data.r_privileges}">
        <div class="fn-clear addAdminItem">
            <div class="fl textR addAdminItemL"><i>*</i> 角色名：</div>&nbsp;
            <div class="fr textL addAdminItemR">
                <input name="addAdminUserName" type="text" id="addRoleName" value="{$data.r_name}">
                <div class="addRoleNameTip" style="display: none">角色名不能为空</div>
            </div>
        </div>
        <div class="fn-clear addAdminItem">
            <div class="fl textR addAdminItemL"> 角色描述：</div>&nbsp;
            <div class="fr textL addAdminItemR">
                <textarea class="describeJuese" name="roleDes" id="roleDes" cols="51" rows="6">{$data.r_description}</textarea>
            </div>
        </div>
    </div>
    <div class="selectInp">
        <div class="selectItem">
            <div class="selectItem01"><label><input type="checkbox" value="systemSet" >系统设置</label></div>
            <div class="selectItem02">
                <ul class="fn-clear">
                    <li class="fl"><label><input type="checkbox" value="sebSite">网站信息</label></li>
                    <li class="fl"><label><input type="checkbox" value="staffList">管理员列表</label></li>
                    <li class="fl"><label><input type="checkbox" value="roleList">角色管理</label></li>
                    <li class="fl"><label><input type="checkbox" value="staffLog">管理员日志</label></li>
                </ul>
            </div>
        </div>
        <div class="selectItem">
            <div class="selectItem01"><label><input type="checkbox" value="brands">企业品牌</label></div>
            <div class="selectItem02">
                <ul class="fn-clear">
                    <li class="fl"><label><input type="checkbox" value="course">发展历程</label></li>
                    <li class="fl"><label><input type="checkbox" value="honor">企业荣誉</label></li>
                    <li class="fl"><label><input type="checkbox" value="case">工程案例</label></li>
                </ul>
            </div>
        </div>
        <div class="selectItem">
            <div class="selectItem01"><label><input type="checkbox" value="news">新闻中心</label></div>
            <div class="selectItem02">
                <ul class="fn-clear">
                    <li class="fl"><label><input type="checkbox" value="newsCate">文章分类</label></li>
                    <li class="fl"><label><input type="checkbox" value="newsList">文章列表</label></li>
                </ul>
            </div>
        </div>
        <div class="selectItem">
            <div class="selectItem01"><label><input type="checkbox" value="goods">产品中心</label></div>
            <div class="selectItem02">
                <ul class="fn-clear">
                    <li class="fl"><label><input type="checkbox" value="goodsList">产品列表</label></li>
                    <li class="fl"><label><input type="checkbox" value="goodsCate">产品分类</label></li>
                </ul>
            </div>
        </div>


        <div class="selectItem">
            <div class="selectItem01"><label><input type="checkbox" value="ad">广告管理</label></div>
            <div class="selectItem02">
                <ul class="fn-clear">
                    <li class="fl"><label><input type="checkbox" value="adList">广告列表</label></li>
                    <li class="fl"><label><input type="checkbox" value="adLocationList">广告位置</label></li>
                </ul>
            </div>
        </div>
        <div class="selectItem">
            <div class="selectItem01"><label><input type="checkbox" value="effect">效果图管理</label></div>
            <div class="selectItem02">
                <ul class="fn-clear">
                    <li class="fl"><label><input type="checkbox" value="effectAttrList">效果图属性</label></li>
                    <li class="fl"><label><input type="checkbox" value="effectList">效果图列表</label></li>
                </ul>
            </div>
        </div>
        <div class="selectItem">
            <div class="selectItem01"><label><input type="checkbox" value="service">服务支持</label></div>
            <div class="selectItem02">
                <ul class="fn-clear">
                    <li class="fl"><label><input type="checkbox" value="qualityAnalysis">品质解析</label></li>
                    <li class="fl"><label><input type="checkbox" value="serviceSupport">售后支持</label></li>
                    <li class="fl"><label><input type="checkbox" value="joinInvestment">招商加盟</label></li>
                </ul>
            </div>
        </div>
        <div class="selectItem">
            <div class="selectItem01"><label><input type="checkbox" value="authorizeNet">授权网点</label></div>
            <div class="selectItem02">
                <ul class="fn-clear">
                    <li class="fl"><label><input type="checkbox" value="areaList">地区列表</label></li>
                    <li class="fl"><label><input type="checkbox" value="netList">授权网点</label></li>
                    <li class="fl"><label><input type="checkbox" value="lineShopSet">线上商城设置</label></li>
                </ul>
            </div>
        </div>

    </div>
    <div class="addRoleBottom">
        <div class="selectAllItem"><label><input class="selectAllItemInp" type="checkbox">全选</label></div>
        <button class="addRoleSure">确定</button>
        <div class="addRoleNameTipLess" style="display: none">请至少选中一项选框</div>
    </div>
</div>
<script>

    $(function () {
        // 判断当前是否被选中
//判断checkbox 是否选中
// $("#id").is(":checked");
//选中，返回true，没选中，返回false

//设置checkbox为选中状态
//  $("#id").prop("checked",true);

//设置checkbox为不选中状态
// $("#id").prop("checked",false);
        //    点击全选
        $(".selectAllItemInp").on('click',function () {
            $(".addRoleNameTipLess").hide();
            var flag = $(this).is(":checked");
            if(flag){
                $(".selectInp").find('input').prop("checked",true);
            }else{
                $(".selectInp").find('input').prop("checked",false);
            }
        });
//        点击二级分类判断
        $(".selectItem01").find('input').on('click',function () {
            $(".addRoleNameTipLess").hide();
            var flag = $(this).is(":checked");
            if(flag){
                $(this).parent().parent().parent().find('.selectItem02').find('input').prop("checked",true);
                //判断所有二级分类是否都被选中
                var Flag = true;
                $(".selectItem01").each(function () {
                    if(!$(this).find('input').is(":checked")){
                        Flag = false;
                    }
                });
                if(Flag){
                    $(".selectAllItemInp").prop("checked",true);
                }else{
                    $(".selectAllItemInp").prop("checked",false);
                }
            }else{
                $(this).parent().parent().parent().find('.selectItem02').find('input').prop("checked",false);
                $(".selectAllItemInp").prop("checked",false);
            }
        });
//        点击三级分类判断
        $(".selectItem02").find('input').on('click',function () {
            $(".addRoleNameTipLess").hide();
            var flag = $(this).is(":checked");
            if(flag){
                //判断当前三级是否全被选中
                var Flag02 = true;
                $(this).parent().parent().parent().find('input').each(function () {
                    if(!$(this).is(":checked")){
                        Flag02 = false;
                    }
                });
                if(Flag02){
                    $(this).parent().parent().parent().parent().parent().find('.selectItem01').find('input').prop("checked",true);
//                    如果当前三级分类全被选中判断所有二级分类是否全被选中
                    var Flag01 = true;
                    $(".selectItem01").each(function () {
                        if(!$(this).find('input').is(":checked")){
                            Flag01 = false;
                        }
                    });
                    if(Flag01){
                        $(".selectAllItemInp").prop("checked",true);
                    }else{
                        $(".selectAllItemInp").prop("checked",false);
                    }
                }
            }else{
                $(".selectAllItemInp").prop("checked",false);
                $(this).parent().parent().parent().parent().parent().find('.selectItem01').find('input').prop("checked",false);
            }
        });

        //角色名失去光标
        $("#addRoleName").on('blur',function () {
            var val = $(this).val();
            if(val == ''){
                $(".addRoleNameTip").show();
            }else{
                $(".addRoleNameTip").hide();
            }
        });
//        点击确定
        $(".addRoleSure").on('click',function () {
            //判断至少选择一项
            var flag = true;
            $(".selectInp").find('input').each(function () {
                if($(this).is(":checked")){
                    flag = false;
                }
            });
            if(flag){
                $(".addRoleNameTipLess").show();
            }else{
                $(".addRoleNameTipLess").hide();
                var str = [];
                $(".selectItem02").find('input').each(function () {
                    if($(this).is(":checked")){
                        str.push($(this).val());
                    };
                });
                $(".selectItem01").find('input').each(function () {
                    if($(this).parent().parent().parent().find('.selectItem02').find('input').is(":checked")){
                        str.push($(this).val());
                    };
                });
                var token=$("#token").val();
                var roleNmae=$("#addRoleName").val();
                var roleDes=$("#roleDes").val();
                var roleId=$("#roleId").val();
                str = str.join();
                var params={};
                params.token=token;
                params.privilege=str;
                params.roleName=roleNmae;
                params.roleDes=roleDes;
                params.roleId=roleId;
                $.post("{:url('admin/Role/roleEdit')}",params,function (data) {
                    if(data.status==1){
                        popupTip(data.msg,true,function () {
                            location.href="{:url('admin/Role/roleList')}";
                        })
                    }else if(data.status==-999){
                        popupTip(data.msg,false);
                    }else{
                        popupTip(data.msg,false);
                    }
                })
            }
        });

        //将获取的选中项进行添加
        var chencInpArr = $("#grant").val().split(',');
        $(chencInpArr).each(function (i,item) {
            $(".selectInp").find('input').each(function () {
                if(item == $(this).val()){
                    $(this).prop('checked',true);
                }
            });
        });

        //判断二级是否是否被选择
        $(".selectItem02").each(function () {
            var flagSecSel = true;
            $(this).find('input').each(function () {
                if(!$(this).is(":checked")){
                    flagSecSel = false;
                }
            });
            if(flagSecSel){
                $(this).parent().find('.selectItem01').find('input').prop('checked',true);
            }else{
                $(this).parent().find('.selectItem01').find('input').prop('checked',false);
            }
        });

        //        判断全选复选框是否应当被选中
        var flagAllSel = true;
        $(".selectItem01").each(function () {
            if(!$(this).find('input').is(":checked")){
                flagAllSel = false;
            }
        });
        if(flagAllSel){
            $(".selectAllItemInp").prop('checked',true);
        }
    });
</script>
{/block}