<%- include ../common/base.ejs %>
<script type="text/javascript" src="/static/admin/js/plugins/formValidator/formValidator-4.1.3.js"></script>
<script type="text/javascript" src="/static/admin/js/plugins/layer/laydate/laydate.js"></script>
<script type="text/javascript" src="/static/admin/js/plugins/webuploader/webuploader.min.js"></script>
<div class="st_container">
    <div class="st_title">添加荣誉</div>
    <div class="st_body">
        <div class="st_tips">
            <p>标识“*”的选项为必填项。</p>
        </div>
    </div>
    <div class="st_content">
        <form id="st_form">
            <input type="hidden" name="token" id="token" value="{$token}">
            <div class="st_msg_line clearfix">
                <div class="st_msg_line_left">
                    <div style="float: right;">
                        <em class="important fl">*</em><span class="left">奖项名称</span><i class="fenge">:</i>
                    </div>
                </div>
                <div class="st_msg_line_right">
                    <!-- <div class="st_normal_input" id="bdTime"></div> -->
                    <input type="text" name="name" class="st_normal_input" id="bhName">
                    <!-- <span class="line_tips"></span> -->
                </div>
            </div>
            <div class="st_msg_line clearfix">
                <div class="st_msg_line_left">
                    <div style="float: right;">
                        <em class="important fl">*</em><span class="left">颁发日期</span><i class="fenge">:</i>
                    </div>
                </div>
                <div class="st_msg_line_right">
                    <!-- <div class="st_normal_input" id="bdTime"></div> -->
                    <input type="text" name="time" class="st_normal_input" id="bhTime">
                    <!-- <span class="line_tips"></span> -->
                </div>
            </div>
            <div class="st_msg_line clearfix">
                <div class="st_msg_line_left">
                    <div style="float: right;">
                        <em class="important fl">*</em><span class="left">颁发单位</span><i class="fenge">:</i>
                    </div>
                </div>
                <div class="st_msg_line_right">
                    <input type="text" name="company" class="st_normal_input" id="bhCompany">
                    <!-- <span class="line_tips"></span> -->
                </div>
            </div>
            <div class="st_msg_line clearfix">
                <div class="st_msg_line_left">
                    <div style="float: right;">
                        <em class="important fl">*</em><span class="left">证书图片</span><i class="fenge">:</i>
                    </div>
                </div>
                <div class="st_msg_line_right webuploader-container">
                    <div class="st_uploadImg" id="picker">上传图片</div>
                    <div id="imgContainer" class="imgContainer"><img></div>
                    <div style="position: absolute;left: 316px;top: 0;height: 30px;white-space: nowrap;">
                        <style type="text/css">
                        #imgTipsTip {
                            color: #f00;
                            padding-left: 20px;
                            margin-left: 10px;
                            background-position-y: 7px;
                        }

                        #imgTipsTip.onCorrect {
                            color: #333;
                        }
                        </style>
                        <input type="text" name="img" id="imgTips" style="visibility: hidden;width:1px;height: 30px;">
                    </div>
                    <!-- <span class="line_tips"></span> -->
                </div>
            </div>
            <div class="st_msg_line clearfix">
                <div class="st_msg_line_left"></div>
                <div class="st_msg_line_right">
                    <div style="height: 15px;"></div>
                    <input type="submit" name="" value="确定" class="st_ensure">
                </div>
            </div>
        </form>
    </div>
</div>
<script type="text/javascript" src="/static/admin/js/add/base.js"></script>
<script type="text/javascript" src="/static/admin/js/add/confirmBoxes.js"></script>
<script type="text/javascript">
// 上传图片js设置
var imgWidth, imgHeight, uploader, state = 'pending',
    hasUploadImg = false;
//上传图片最大占用存储
var maxSize = 3,
    widthSize = null,
    heightSize = null;
$.formValidator.initConfig({
    theme: 'Default',
    mode: 'AutoTip',
    formID: "st_form",
    debug: true,
    submitOnce: true,
    onSuccess: function() {
        if (hasUploadImg) {
            if (state === 'uploading') {
                uploader.stop();
            } else {
                uploader.upload();
            }
        } else {
            stSubmit();
        }
        return false;
    },
    onError: function(msg) {
        if (msg === "请上传图片") {
            setTimeout(function(){
                $("#imgTipsTip").removeClass("onFocus").addClass("onError").find("div").removeClass("onFocus").addClass("onError").html("请上传图片");
                $("#imgTips").val("");
            },200);
        }
    }
});

// 奖项名称验证
$('#bhName').formValidator({ onCorrect: "输入正确" }).inputValidator({ min: 1, onError: "奖项名称不能为空" });
//颁发日期
$('#bhTime').formValidator({ onCorrect: "输入正确" }).inputValidator({ min: 1, onError: "颁发日期不能为空" });
// 颁发单位
$('#bhCompany').formValidator({ onCorrect: "输入正确" }).inputValidator({ min: 1, onError: "颁发单位不能为空" });
// 证书图片
$('#imgTips').formValidator({ onShow: "上传图片格式必须是gif,jpg,jpeg,png;图片大小在" + maxSize + "mb之内", onCorrect: "上传正确" }).inputValidator({ min: 1, onError: "请上传图片" });
// 历程时间插件
laydate.render({
    elem: '#bhTime' //指定元素
        ,
    done: function(value, date) {
        if (value) {
            $(this.elem).removeClass('error');
            $(this.elem).siblings().removeClass('onError').addClass("onCorrect").find("div").removeClass("onError").addClass("onCorrect").html("输入正确");
        }
    }
});

$('input.st_normal_input').blur(function() {
    var val = ($(this).val()).trim();
    if (val === '') {
        $(this).addClass("error");
    } else {
        $(this).removeClass("error");
    }
});

// 提交
function stSubmit(res) {
    if (res && res.status === 1) {
        var img = res.msg;
    }else{
        var img = ($("#imgTips").val()).trim();
    }
    var name = ($('#bhName').val()).trim();
    var time = ($('#bhTime').val()).trim();
    var company = ($('#bhCompany').val()).trim();
    var token = ($('#token').val()).trim();
    $.post("{:url('admin/Brands/bhadd')}", { 'name': name, 'time':time,'img':img,'company':company,'token':token}, function(data) {
        if (data.status) {
            CB.tips({
                title: "提示",
                text: "<img src='/static/admin/images/u933.png' style='margin-right: 10px;display: inline-block;vertical-align: middle;margin-top: -2px;'>保存成功"
            }, function() {
                history.go(-1);
                location.reload();
            });
        } else {
            CB.tips({
                title: "提示",
                text: "<img src='/static/admin/images/u951.png' style='margin-right: 10px;display: inline-block;vertical-align: middle;margin-top: -2px;'>"+data.msg
            });
        }
    });
}
var uploadServer = '{:url("admin/Brands/webupload")}';
// var delImg = '/static/admin/js/plugins/webuploader/delimg.php';
</script>
<script type="text/javascript" src="/static/admin/js/add/uploadImg.js"></script>
<%- include ../common/base_bottom.ejs %>